
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  color: black;
  padding: 5px;
  text-align: left;
}

nav .titulo {
  text-align: left;
  margin-left: 65px;
  display: inline-flex;
  vertical-align: top;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  margin: 10;
  padding-left: 100px;
  padding-top: 10px;
  display: inline-flex;
  vertical-align: top;
}

li {
  margin-right: 20px;
  display: inline-flex;
}

a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

a:hover {
  color: black;
}

ul li {
  position: relative;
}

ul li ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding: 10px 0;
  z-index: 1;
  text-align: center;
  font-size: 11px;
  border-radius: 8px;
}

ul li:hover ul.submenu {
  display: block;
}

ul.submenu li {
  display: block;
  margin: 7px;
}

/*
  #contenido {
    padding-bottom: 2.25em;
  }

  #contenido .titulo-welcome {
    margin-top: 0em;
    padding-top: 2em;
  }

  #contenido .titulo-menu-admin {
    margin-top: 9em;
  }

  #contenido img {
    top: 58.5%;
    left: 50%;
    max-width: 35%;
    max-height: 35%;
  }
*/

#contenido {
  text-align: center;
  background: url('../img/admin/fondo-login\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5.25em;
}

#contenido .titulo-welcome {
  margin-top: 0em;
  padding-top: 2.7em;
  position: relative;
  font-size: 35px;
  text-align: center;
}

#contenido .titulo-menu-admin {
  margin-top: 10.7em;
  position: relative;
  font-size: 35px;
  text-align: center;
}

#contenido img {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 37%;
  max-height: 37%;
}

.boton-usuario {
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 25px;
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.5s ease, color 0.5s ease;
}

.boton-usuario {
  background: linear-gradient(to left, #6559D4, #591390);
}

.boton-usuario:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: black;
}

ul li a {
  transition: color 0.5s ease;
}

ul li a:hover {
  color: black;
}

.formulario-carga {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.formulario-carga button {
  background: linear-gradient(to left, #6559D4, #591390);
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.5s ease, color 0.5s ease;
  margin-top: 20px;
  margin-left: 20px;
}

.formulario-carga button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: black;
}

.formulario-carga.minimized {
  display: block;
  max-width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: auto;
}

.formulario-contenedor-cargar {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  overflow-y: auto; /* Agrega esta línea para permitir un scroll vertical */
  max-height: 600px; /* Ajusta el valor según tus necesidades */
}

.formulario-contenedor-cargar h2 {
  margin-top: 10px;
  padding-bottom: 20px;
}

.formulario-contenedor-cargar label {
  display: inline-block;
  width: 75px; /* Ajusta el ancho según tus necesidades */
  text-align: center; /* Alinea el texto a la derecha */
  margin-right: 35px; /* Espacio entre label e input */
  margin-bottom: 35px;
}

.formulario-contenedor-cargar input {
  width: 375px; /* Ajusta el ancho según tus necesidades */
  padding: 8px;
  margin-bottom: 15px;
}

#tablaFuncionarios,
#tablaComisionFuncionarios, 
#tablaServicios, 
#tablaPromociones, 
#tablaCitas, 
#tablaReseñas {
  margin-top: 20px; /* Ajusta el espacio entre los botones y la tabla */
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#tablaFuncionarios th, #tablaFuncionarios td,
#tablaComisionFuncionarios th, #tablaComisionFuncionarios td,  
#tablaServicios th, #tablaServicios td,
#tablaPromociones th, #tablaPromociones td,
#tablaCitas th, #tablaCitas td,
#tablaReseñas th, #tablaReseñas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Estilos para el dropdown */
.formulario-contenedor-cargar select {
  width: 395px; /* Ancho similar a otros elementos de entrada */
  padding: 8px;
  margin-bottom: 15px;
}

/* Estilos para las opciones dentro del dropdown */
.formulario-contenedor-cargar select option {
  padding: 8px; /* Relleno interno */
  margin: 0; /* Elimina el margen predeterminado */
  border: 1px solid #ddd; /* Borde */
  background-color: #fff; /* Color de fondo */
  color: #000; /* Color del texto */
}

/* Estilos para las opciones cuando se seleccionan */
.formulario-contenedor-cargar select option:checked {
  background-color: #6559D4; /* Color de fondo cuando está seleccionado */
  color: #fff; /* Color del texto cuando está seleccionado */
}

.formulario-contenedor-listar {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
  overflow-y: auto; /* Agrega esta línea para permitir un scroll vertical */
  max-height: 600px; /* Ajusta el valor según tus necesidades */
}

.formulario-contenedor-listar h2 {
  margin-top: 10px;
  padding-bottom: 20px;
}

.formulario-contenedor-listar label {
  display: inline-block;
  width: 5px; /* Ajusta el ancho según tus necesidades */
  text-align: center; /* Alinea el texto a la derecha */
  margin-right: 60px; /* Espacio entre label e input */
  margin-left: 50px;
  margin-bottom: 35px;
}

.formulario-contenedor-listar input {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  padding: 8px;
  margin-bottom: 15px;
}

.formulario-listar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.formulario-listar button {
  background: linear-gradient(to left, #6559D4, #591390);
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.5s ease, color 0.5s ease;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 50px;
}

.formulario-listar button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: black;
}

.formulario-listar.minimized {
  display: block;
  max-width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: auto;
}

@media only screen and (max-width:1366px){
  #contenido {
    padding-bottom: 2.25em;
  }

  #contenido .titulo-welcome {
    margin-top: 0em;
    padding-top: 2em;
  }

  #contenido .titulo-menu-admin {
    margin-top: 9em;
  }

  #contenido img {
    top: 58.5%;
    left: 50%;
    max-width: 40%;
    max-height: 40%;
  }

}

.submenu-usuario {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding: 10px 0;
  z-index: 1;
  text-align: center;
  font-size: 11px;
  border-radius: 8px;
}

.boton-usuario:hover .submenu-usuario {
  display: block;
}

ul.submenu-usuario li {
  margin: 7px;
}

#usuarioComision {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  padding: 8px;
  margin-bottom: 15px;
}

/*
PANTALLA 1: 1366 X 768
PANTALLA 2: 1440 X 900
*/